.speech {
    font-family: "Times New Roman";
    font-size: 16px;
    color: black;
    padding-left: 20px;
}

.stage-direction {
    font-family: "Arial";
    font-size: 14px;
    color: black;
    background-color: lightskyblue;
    padding-left: 20px;
    font-style: italic;
}

.stage-direction:hover {
    background-color: yellowgreen;
    color: darkred;
}

.name {
    font-family: "Georgia";
    font-size: 18px;
    color: black;
}

.name:hover {
    text-shadow: 2px 3px 5px green;
    border: 2px solid darkgreen;
}

.mortimer {
    color: darkorange;
}

.first-gaoler {
    color: darkgreen;
}

.plantagenet {
    color: darkblue;
}

.cast-table {
    width: 100%;
    border: dashed 3px red;
    border-collapse: separate;
    margin: 20px 0;
}

.cast-table th, .cast-table td {
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}

.cast-table th {
    background-color: darkred;
    color: white;
}

.cast-table tr:nth-child(even) {
    background-color: lightgray;
}

.cast-table tr:hover {
    background-color: lightcoral;
    color: white;
}